body {
    margin: 0;
    font-family: 'roboto', sans-serif;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    width: 300px;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: 0.2px 4px 5px rgba(0, 0, 0, 0.1);
    background-color: rgb(226, 221, 221);
    position: relative;
    overflow: hidden;
}

.movie img {
    width: 100%;
}

.movie-info {
    padding: 10px;
}

#release_date,
#vote_average {
    color: orangered;
    font-size: 16px;
    font-weight: bold;
}

.movie-details {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.header {
    background-image: url('../images/Rectangle 1.png');
    background-size: cover;
    background-position: center;
    height: 230px;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.header-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 50px;
}

.header-top-left {
    padding-left: 50px;
}

.filmtitle {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
}

.filmtitle:hover {
    cursor: pointer;
}

.film {
    width: 30px;
    height: 30px;
}

.page-title {
    display: none;
    color: white;
    margin: 0;
    padding-top: 1px;

}

.header-top-right {
    padding-right: 50px;
}

.mylibrary {
    display: flex;
    gap: 20px;
}

.navlink {
    display: flex;
    justify-content: center;
    align-items: baseline;
    gap: 24px;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

.active {
    color: whitesmoke;
}

.ul-btn {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    gap: 24px;
}

.libr,
.homebtn {
    font-weight: bold;
    border: none;
    background: none;
    color: white;
    font-size: 12px;
}

.libr:hover,
.homebtn:hover {
    cursor: pointer;
}

.header-link::after {
    content: '';
    position: relative;
    top: 1px;
    width: 0;
    height: 3px;
    border-radius: 1px;
    background-color: #FD9222;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
}

.header-link:hover::after {
    width: 100%;
}

.header-link:focus::after {
    width: 100%;
}

.homebtn {
    text-decoration: none;
    padding-top: 1px;
}

.libr {
    text-decoration: none;

}

.header-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
}

.search-button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
}

#search-input {
    border: none;
    background: none;
    color: white;
}

#search-input:focus {
    border: none;
    background: none;
    border-style: none;
    outline: none;
}

.searchform {
    background-color: none;
    border: none;
    background: none;
    color: white;
    display: flex;
    width: 300px;
    justify-content: space-between;
}

.srcline {
    display: flex;
    width: 300px;
    height: 2px;
    color: white;
}

.pagination {
    display: flex;
    margin: 10px 40px;
    align-items: center;
    justify-content: center;
    color: rgb(12, 7, 5);
}

.page {
    padding: 20px;
    cursor: pointer;
}

.page.disabled {
    cursor: not-allowed;
    color: grey;
}

.current {
    padding: 10px;
    border-radius: 25%;
    border: 5px solid rgb(255, 51, 0);
    font-size: 20px;
    font-weight: 600;
}

@media screen and (min-width: 768px) {
    .header-top-left {
        padding-left: 80px;
    }

    .header-top-right {
        padding-right: 80px;
    }

}

@media screen and (min-width: 480px) {
    .page-title {
        display: flex;
    }

}

// Watched Movies
/* Basic Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

// body {
//     font-family: 'Arial', sans-serif;
//     background-color: #f4f4f4;
//     color: #333;
//     line-height: 1.6;
//     padding: 20px;
// }

// .watchedmovies {
//     margin: auto;
//     width: 80%;
//     background: #fff;
//     padding: 20px;
//     border-radius: 8px;
//     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

// }

// .movies-list {
//     display: grid;
//     grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
//     gap: 20px;
// }

// .movies-list {
//     background: #eee;
//     border-radius: 8px;
//     padding: 10px;
//     box-shadow: 0 5px 15px rgba(0, 0, 0, .1);
// }

// .button-with-heading {
//     background-color: transparent;
//     border: none;
//     padding: 10px;

// }

// .heading-text {
//     font-size: 1.5rem;
//     font-weight: bold;

// }

.button-with-heading {
    margin: 10px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button-with-heading:hover {
    background-color: gray;
}

.movie {
    margin: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
}


/* Adjustments for small screens */
@media screen and (max-width: 600px) {
    #watched-movies {
        width: 95%;
    }

    #movies-list {
        grid-template-columns: 1fr;
    }
}