.pagination-button.current-page {
    font-weight: 500;
    font-size: 15px;
    line-height: 1.33333;
    color: #fff;
    border-radius: 5px;
    width: 40px;
    height: 40px;
    background: rgba(255, 107, 8, 1);
}


.pagination-button {
    width: 40px;
    height: 40px;
    font-weight: bold;
    border: none;
    background: none;
    font-size: 12px;
}

.pagination-button:hover {
    background-color: rgba(255, 107, 8, 1);
    color: white;
    border-radius: 10%;
    transition: 450ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;

}