.footer {
    background-color: rgba(229, 229, 229, 1);
    color: rgba(84, 84, 84, 1);
    width: auto;
    height: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-direction: column;
    @media screen and (min-width: 480px) {
            flex-direction: row
        }
}

