<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Filmoteka - js-teamproject-team3 </title>
    <link rel="stylesheet" href="/src/sass/index.scss"/>

    
</head>

<body>
    <!-- ❗️❗️❗️ Add partials like so for every page -->
    <!-- <include src="./partials/example.html"></include> -->



    <header class="header">
        <div class="header-top">
            <div class="header-top-left">
                <a class="filmtitle" href="/src/index.html">
                    <img class="film" src="/src/images/film.png" alt="film">
                    <h1 class="page-title">Filmoteka</h1>
                </a>
            </div>
            <div class="header-top-right">
                <div class="mylibrary">
                    <a class="header-link homebtn" href="/src/index.html">HOME</a>
                    <a class="header-link libr active" href="/src/partials/library.html" type="submit">MY LIBRARY</a>

                </div>
            </div>
        </div>

        <div class="header-bottom">

            <form class="lib-buttons" id="lib-buttons">
                <button id="watched-btn" type="submit">WATCHED</button>
                <button id="queue-btn" type="submit">QUEUE</button>
            </form>  
        </div>

    </header>
 
    <main class="main-content" id="main">
        
        <section class="section">
            <div class="container">
                <div class="gallery">
                    <!-- Video Cards -->
                </div>
            </div>
        </section>
        <div id="movies-container"></div>
        <div id="watched-container"></div>
        <div id="queue-container"></div>
    </main>

    <!-- PAGINATION SECTION -->
    <div class="pagination">

        <button class="pagination-button previous-page" type="submit">&#11164</button>
        <button class="pagination-button first-page" type="submit">...</button>
        <button class="pagination-button button-a" type="submit">1</button>
        <button class="pagination-button button-b" type="submit">2</button>
        <button class="pagination-button button-c" type="submit">3</button>
        <button class="pagination-button button-d" type="submit">4</button>
        <button class="pagination-button button-e" type="submit">5</button>
        <button class="pagination-button last-page" type="submit">...</button>
        <button class="pagination-button next-page" type="submit">&#11166</button>

    </div>

    <!-- Modal Section -->
    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <div class="modal-body">
                <img class="modal-poster" id="modal-poster" src="/src/images/Rectangle 18.jpg" alt="title">
                <div id="modal-details">
                    <h2 id="modal-title">A FISTFUL OF LEAD</h2>
                    <p id="modal-vote">Vote/Votes:</p>
                    <p id="modal-popularity">Popularity:</p>
                    <p id="modal-original-title">Title:</p>
                    <p id="modal-genre">Genre:</p>
                    <h3>About</h3>
                    <p id="modal-overview">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat provident
                        illo, tempore doloribus culpa dolores repellat, laborum aperiam quasi, officiis beatae quas!
                        Quaerat, s
                        int blanditiis facilis alias ad tenetur pariatur.</p>
                    <div class="modal-buttons">
                        <button id="addToWatchedBtn">Add to Watched</button>
                        <button id="addToQueuBtn">Add to Queue</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- ❗️❗️❗️ Add partials like so for every page -->
    <script src="/src/js/pagination.js" type="module"></script>
    <!-- <script src="/src/js/library.js" type="module"></script> -->
    <include src="partials/task4_footer.html"></include>


</body>

</html>