<!-- Modal Section -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-body">

            <div class="modal-poster-container">
                <img class="modal-poster" id="modal-poster" src="./images/Rectangle 18.jpg" alt="title">
            </div>
            <div id="modal-details">
                <div>
                    <h2 id="modal-title">A FISTFUL OF LEAD</h2>
                </div>
                <div class="movie-stats">
                    <div class="labels">
                        <span class="label">Vote/Votes:</span>
                        <span class="label">Popularity:</span>
                        <span class="label">Title:</span>
                        <span class="label">Genre:</span>
                    </div>
                    <div class="stats">
                        <span id="modal-vote"></span></span>
                        <span id="modal-popularity"></span>
                        <span id="modal-original-title"></span>
                        <span id="modal-genre"></span>
                    </div>
                </div>
                <h3>ABOUT</h3>
                <p id="modal-overview">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat provident illo,
                    tempore doloribus culpa dolores repellat, laborum aperiam quasi, officiis beatae quas! Quaerat, s

            
                <div class="modal-buttons">
                    <button id="addToWatchedBtn">Add to Watched</button>
                    <button id="addToQueuBtn">Add to Queue</button>
                </div>
            </div>
        </div>
    </div>

</div>

  </div>

