<!-- Modal Section -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <div class="modal-body">
            <img class="modal-poster" id="modal-poster" src="./images/Rectangle 18.jpg" alt="title">
            <div id="modal-details">
                <h2 id="modal-title">A FISTFUL OF LEAD</h2>
                <p id="modal-vote">Vote/Votes:</p>
                <p id="modal-popularity">Popularity:</p>
                <p id="modal-original-title">Title:</p>
                <p id="modal-genre">Genre:</p>
                <h3>About</h3>
                <p id="modal-overview">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Placeat provident illo, tempore doloribus culpa dolores repellat, laborum aperiam quasi, officiis beatae quas! Quaerat, s
                    int blanditiis facilis alias ad tenetur pariatur.</p>
                <div class="modal-buttons">
                    <button id="addToWatchedBtn">Add to Watched</button>
                    <button id="addToQueuBtn">Add to Queue</button>
                </div>
            </div>
        </div>
    </div>
  </div>